src/main/resources/contract/v10/se/transportstyrelsen/schema/ssbtek/fordon/_1/fordon_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://schema.transportstyrelsen.se/ssbtek/fordon/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.transportstyrelsen.se/ssbtek/fordon/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:annotation>
		<xs:documentation>
			 Beskrivning:	Typer som hanterar fordonsinformation
			 Revisioner:	2018-02-02 - Version 1.0
		</xs:documentation>
	</xs:annotation>
	
	<xs:complexType name="FordonsinnehavType">
		<xs:sequence>
			<xs:element name="fordon" type="tns:FordonType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="FordonType">
		<xs:sequence>
			<xs:element name="regnr" type="xs:string">
				<xs:annotation>
					<xs:documentation>Registreringsnummer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fabrikat" type="xs:string">
				<xs:annotation>
					<xs:documentation>Fabrikat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fordonsar" type="xs:string">
				<xs:annotation>
					<xs:documentation>Fordonsår</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fordonsslag" type="xs:string">
				<xs:annotation>
					<xs:documentation>Fordonsslag</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="handelsbeteckning" type="xs:string">
				<xs:annotation>
					<xs:documentation>Handelsbeteckning</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
</xs:schema>
