src/main/resources/contract/v10/se/transportstyrelsen/schema/ssbtek/hamtauppgifterresponder/_1/HamtaUppgifterResponder_1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://schema.transportstyrelsen.se/ssbtek/hamtauppgifterresponder/1" xmlns:tns="http://schema.transportstyrelsen.se/ssbtek/hamtauppgifterresponder/1" xmlns:frdn="http://schema.transportstyrelsen.se/ssbtek/fordon/1" xmlns:per="http://schema.transportstyrelsen.se/ssbtek/person/1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">	
	<xs:annotation>
		<xs:documentation>
			 Beskrivning:	Typer som hanterar request- och response-typer för HamtaUppgifterInteraction
			 Revisioner:	2018-02-02 - Version 1.0
		</xs:documentation>
	</xs:annotation>
	
	<xs:import namespace="http://schema.transportstyrelsen.se/ssbtek/fordon/1" schemaLocation="../../fordon/_1/fordon_1.0.xsd"/>
	<xs:import namespace="http://schema.transportstyrelsen.se/ssbtek/person/1" schemaLocation="../../person/_1/person_1.0.xsd"/>
	
	<xs:element name="HamtaUppgifter" type="tns:HamtaUppgifterType"/>
	<xs:element name="HamtaUppgifterResponse" type="tns:HamtaUppgifterResponseType"/>
	
	<xs:complexType name="HamtaUppgifterType">
		<xs:sequence>
			<xs:element name="identifikation" type="per:IdentifikationType">
				<xs:annotation>
					<xs:documentation>Person att hämta fordonsinnehav för</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="HamtaUppgifterResponseType">
		<xs:sequence>
			<xs:element name="resultat" type="tns:ResultatTypEnum">
			<xs:annotation>
					<xs:documentation>Anger om transaktionen körts ok eller om fel uppstått</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="fordonsinnehav" type="frdn:FordonsinnehavType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fordonsinnehav för aktuell person (kan vara tom lista)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="felresultat" type="tns:FelresultatType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Ev. fel som uppstått</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="FelresultatType">
		<xs:sequence>
			<xs:element name="felkod" type="xs:int">
				<xs:annotation>
					<xs:documentation>Felkod som identifierar det typ av fel som inträffat</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="feltext" type="xs:string">
				<xs:annotation>
					<xs:documentation>Felmeddelande i klartext</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:simpleType name="ResultatTypEnum">
		<xs:annotation>
			<xs:documentation>Enumerationsvärde som anger om anger de resultatkoder som finns</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OK">
				<xs:annotation>
					<xs:documentation>Transaktionen har utförts enligt uppdraget</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FEL">
				<xs:annotation>
					<xs:documentation>Transaktionen har INTE kunnat utföras p.g.a ett logiskt fel. Det finns en eller flera felkoder och felmeddelanden till konsumenten. Se datatypen FelresultatType</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
		
</xs:schema>
