src/main/resources/contract/v10/se/csn/schema/v4_0/hemutrustningslan/hemutrustningslan.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://schema.csn.se/v4.0/hemutrustningslan" xml:lang="sv" xmlns:csngem="http://schema.csn.se/v4.0/csntyper" xmlns:csnhut="http://schema.csn.se/v4.0/hemutrustningslan">
	<xs:import namespace="http://schema.csn.se/v4.0/csntyper" schemaLocation="../csntyper/csntyper.xsd"/>

	<xs:complexType name="arende">
		<xs:sequence>
			<xs:element name="stodform" type="csngem:stodform">
		
			</xs:element>
			<xs:element name="klartext" type="csngem:klartext">
		
			</xs:element>
			<xs:element name="status" type="csngem:status">
		
			</xs:element>
			<xs:element name="UtbetalningsPlan">
				<xs:complexType>
					<xs:sequence maxOccurs="50" minOccurs="0">
						<xs:element maxOccurs="50" minOccurs="0" name="Utbetalning" type="csngem:Utbetalning"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="lopnummer" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="7"/>
					<xs:pattern value="[0-9]+"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="medlanare">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:maxLength value="12"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
</xs:schema>