src/main/resources/contract/v10/se/forsakringskassan/schema/integration/ssbt/_10/Sammansatt_Bastjanst_v10.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions name="BastjanstInformation" 
	  targetNamespace="http://schema.forsakringskassan.se/integration/ssbt/10"
  xmlns="http://schemas.xmlsoap.org/wsdl/" 
  xmlns:ssbt="http://schema.forsakringskassan.se/integration/ssbt/10" 
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema targetNamespace="http://schema.forsakringskassan.se/integration/ssbt/10" >
       <xsd:include schemaLocation="sammansatt_bastjanst_v10.xsd"/>
    </xsd:schema>
    
  </types>
	
  <message name="hamtaBastjanstInformationRequest">
    <part element="ssbt:hamtaBastjanstInformation" name="inputHamtaBastjanstInformation"/>
  </message>
  <message name="hamtaBastjanstInformationResponse">
    <part element="ssbt:hamtaBastjanstInformationResponse" name="outputHamtaBastjanstInformation"/>
  </message>
  <message name="hamtaBastjanstInformationFault">
    <part element="ssbt:hamtaBastjanstInformationFault" name="faultMessage"/>
  </message>

  <message name="testaBastjanstInformationRequest">
    <part element="ssbt:testaBastjanstInformation" name="inputTestaBastjanstInformation"/>
  </message>
  <message name="testaBastjanstInformationResponse">
    <part element="ssbt:testaBastjanstInformationResponse" name="outputTestaBastjanstInformation"/>
  </message>
  <message name="testaBastjanstInformationFault">
    <part element="ssbt:testaBastjanstInformationFault" name="faultMessage"/>
  </message>

  <portType name="BastjanstInformationInterface">
    <operation name="hamtaBastjanstInformation">
      <input message="ssbt:hamtaBastjanstInformationRequest" name="input"/>
      <output message="ssbt:hamtaBastjanstInformationResponse" name="output"/>
      <fault message="ssbt:hamtaBastjanstInformationFault" name="fault"/>
    </operation>
    <operation name="testaBastjanstInformation">
      <input message="ssbt:testaBastjanstInformationRequest" name="input1"/>
      <output message="ssbt:testaBastjanstInformationResponse" name="output1"/>
      <fault message="ssbt:testaBastjanstInformationFault" name="fault1"/>
    </operation>
  </portType>
  <binding name="BastjanstInformationInterfaceSoapBinding" type="ssbt:BastjanstInformationInterface">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="hamtaBastjanstInformation">
			<soap:operation soapAction="" style="document" />
			<input name="input">
				<soap:body use="literal" />
			</input>
			<output name="output">
				<soap:body use="literal" />
			</output>
			<fault name="fault">
				<soap:fault name="fault" use="literal" />
			</fault>
		</operation>
		<operation name="testaBastjanstInformation">
			<soap:operation soapAction="" style="document" />
			<input name="input1">
				<soap:body use="literal" />
			</input>
			<output name="output1">
				<soap:body use="literal" />
			</output>
			<fault name="fault1">
				<soap:fault name="fault1" use="literal" />
			</fault>
		</operation>
	</binding>
	<service name="BastjanstInformationInterfaceService">
		<port binding="ssbt:BastjanstInformationInterfaceSoapBinding"
			name="BastjanstInformationInterfacePort">
			<soap:address
				location="REPLACE_WITH_ACTUAL_URL" />
		</port>
	</service>
</definitions>
