src/main/resources/contract/v10/se/forsakringskassan/schema/integration/ssbt/_10/sammansatt_bastjanst_v10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--  
SSBTEK v10 Extern version
Ändringshistorik
När             Version   Vem                Ändring.
2025-01-30:     1.0.0     Magnus Storsjö	 Skillnader mot SSBT_v9: Anropar ny resttjänst ifrån Lefi. Förändringar i ForsakringskassanFraga och ForsakringskassanSvar. För info om Lefi´s resttjänst se deras separata api.
		
-->
<xsd:schema targetNamespace="http://schema.forsakringskassan.se/integration/ssbt/10" 
   xmlns:af="http://api.arbetsformedlingen.se/arbetssokande/ersattningsstod/v2" 
   xmlns:skv="http://beskattningws.ws.service.bs.zg.rsv.se/" 
   xmlns:so="http://INT014.UBPService.Schemas" 
   xmlns:tns="http://schema.transportstyrelsen.se/ssbtek/hamtauppgifterresponder/1"
   xmlns:miv="http://schema.migrationsverket.se/ssbtek/1/"
   xmlns:ssbt="http://schema.forsakringskassan.se/integration/ssbt/10"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="9.0.4">
	
	<xsd:import schemaLocation="../../../../../rsv/zg/bs/service/ws/beskattningws/ZgBsBeskattningWSService_schema.xsd" namespace="http://beskattningws.ws.service.bs.zg.rsv.se/"/>
	<xsd:import namespace="http://api.arbetsformedlingen.se/arbetssokande/ersattningsstod/v2" schemaLocation="../../../../../arbetsformedlingen/api/arbetssokande/ersattningsstod/v2/ers_stod.xsd"/>
	<xsd:import namespace="http://INT014.UBPService.Schemas" schemaLocation="../../../../../../schemas/ubpservice/int014/UnemploymentBenefitPaymentService.xsd" />
	<xsd:import namespace="http://schema.transportstyrelsen.se/ssbtek/hamtauppgifterresponder/1" schemaLocation="../../../../../transportstyrelsen/schema/ssbtek/hamtauppgifterresponder/_1/HamtaUppgifterResponder_1.0.xsd" />
	<xsd:import namespace="http://schema.migrationsverket.se/ssbtek/1/" schemaLocation="../../../../../migrationsverket/schema/ssbtek/_1/SSBTEKWebService_schema1.xsd" />

	<xsd:annotation>
		<xsd:documentation xml:lang="sv">Effektiv Informationsförsörjning - Sammansatt Bastjänst</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="NonEmptyString">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Organisationsnummer">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[\d]{4}[2-9]{1}[\d]{7}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Personidentitet">
		<xsd:restriction base="xsd:token">
			<xsd:pattern value="[0-9]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="KallaEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SSBT">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Felkoden härstammar från den Sammansatta Bastjänsten, t.ex. vid timeout i anrop mot en Bastjänst</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="BT">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Felkoden härstammar från en Bastjänst. T.ex. att Bastjänsten inte kunde hantera förfrågan för att ett tekniskt fel uppstått</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Ingivare">
		<xsd:sequence>
			<xsd:element name="organisationsnummer" type="ssbt:Organisationsnummer">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frågeställaren, ingivarens organisationsnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="namn" type="ssbt:NonEmptyString">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Namn på ingivare, exempelvis kommunnamn</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="handlaggare" type="ssbt:NonEmptyString">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Namn eller användaridentitet på den aktuella handläggaren</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Tidsperiod">
		<xsd:sequence>
			<xsd:element name="fromDatum" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Från och med datum enligt formatet YYYY-MM-DD</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tomDatum" type="xsd:date">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Till och med datum enligt formatet YYYY-MM-DD</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Personuppgiftsbitrade">
		<xsd:sequence>
			<xsd:element name="ordningsnummer" type="xsd:short" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Optionellt fält för att ge möjlighet att sätta ordningsnummer om flera Personuppgiftsbiträden förekommer.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organisationsnummer" type="ssbt:Organisationsnummer"/>
			<xsd:element name="namn" type="ssbt:NonEmptyString"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ForsakringskassanFraga">
		<xsd:sequence>
		    <xsd:element name="version" type="xsd:string" minOccurs="0">
				<xsd:annotation>
						<xsd:documentation xml:lang="sv">
						  versionsnummer som finns i pathen på den aktuella yaml-filen ifrån Lefi.Exempelvis för nuvarande version är pathen
						    paths:
                               /lefi-extern-formansinformation/v9/aktorer/{aktorsId}/formansinformation/fraga, ange då v9 i versionsvärde.
                          Kommer det nya versioner så ange det nya versionsnumret som finns i yaml-filen. Integrationen kan då bygga rätt path för att gå mot önskad version.    
   						  Anges versionsnummer som inte finns eller som inte än är implementerat kommer ett exception att läggas in i ForsakringskassanSvar ifrån integrationen. Om version inte skickas med kommer v9 av Lefi att anropas. 
						</xsd:documentation>
			    </xsd:annotation>
			</xsd:element>
			<xsd:element name="aktorsid" type="xsd:string">
				<xsd:annotation>
						<xsd:documentation xml:lang="sv">Unikt id för varje kommun eller socialnämnd i en kommun. Anges av tjänsteleverantör</xsd:documentation>
			    </xsd:annotation>
			</xsd:element>
			<xsd:element name="lefiJsonFraga" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Rest jsonfråga till Lefi som är base64 encodad. Se Lefis api för vidare information hur jsonfrågan ska se ut</xsd:documentation>
			</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

    <!--  ***********   FRÅGA   *********** -->
	<xsd:complexType name="Forsakringskassan">
		<xsd:sequence>
			<xsd:element name="fraga" type="ssbt:ForsakringskassanFraga" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Csn">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">CSN har inga specifika frågeparametrar</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="tidsperiod" type="ssbt:Tidsperiod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frivilligt element som ersätter från/tilldatum i generella frågeparametrarna om specifika datum skall gälla för just denna bastjänst</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Skatteverket">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Skatteverket har inga specifika frågeparametrar</xsd:documentation>
			</xsd:annotation>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Arbetsformedlingen">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Arbetsförmedlingen har inga specifika frågeparametrar</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="tidsperiod" type="ssbt:Tidsperiod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frivilligt element som ersätter från/tilldatum i generella frågeparametrarna om specifika datum skall gälla för just denna bastjänst</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="AkassornasSamorganisation">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Akassornas Samorganisation har inga specifika frågeparametrar</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="tidsperiod" type="ssbt:Tidsperiod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frivilligt element som ersätter från/tilldatum i generella frågeparametrarna om specifika datum skall gälla för just denna bastjänst</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Transportstyrelsen">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Transportstyrelsen har inga specifika frågeparametrar</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="tidsperiod" type="ssbt:Tidsperiod" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frivilligt element som ersätter från/tilldatum i generella frågeparametrarna om specifika datum skall gälla för just denna bastjänst</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Migrationsverket">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Migrationsverket har inga specifika frågeparametrar</xsd:documentation>
			</xsd:annotation>
		</xsd:sequence>
		<xsd:attribute name="inkludera" type="xsd:boolean" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="GenerellaFrageparametrar">
		<xsd:sequence>
			<xsd:element name="frageTidpunkt" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frivilligt fält för frågeställaren att ange tidpunkt för när frågan ställes</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="korrelationsid" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Frivilligt fält för frågeställaren. Kan användas till att koppla ihop fråga med svar</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fraganSkallInkluderasISvaret" type="xsd:boolean" default="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Indikerar huruvida frågeställaren önskar frågeinnehållet tillbaka i svarsmeddelandet. Default är Nej</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ingivare" type="ssbt:Ingivare">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Identifiering av frågeställaren, ingivaren</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="personidentitet" type="ssbt:Personidentitet">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Den efterfrågades identitet i form av personnummer eller samordningsnummer</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="arendeidentitet" type="ssbt:NonEmptyString">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">En för organisationen unik identifierare för ärendet ifråga</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tidsperiod" type="ssbt:Tidsperiod"/>
			<xsd:element name="personuppgiftsbitrade" type="ssbt:Personuppgiftsbitrade" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Personuppgiftsbiträde, ombud, som behandlar begäran. Dvs det (de) eventuella ombud som Ingivaren anlitar för att behandla förfrågan</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="syfte" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Ingivarens syfte med begäran om inhämtande av information</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="lagtext" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Sekretessbrytande regel eller paragraf i registerförordningen som stöder själva utlämnandet</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SpecifikaFrageparametrar">
		<xsd:sequence>
			<xsd:element name="AF" type="ssbt:Arbetsformedlingen"/>
			<xsd:element name="CSN" type="ssbt:Csn"/>
			<xsd:element name="FK" type="ssbt:Forsakringskassan"/>
			<xsd:element name="SKV" type="ssbt:Skatteverket"/>
			<xsd:element name="SO" type="ssbt:AkassornasSamorganisation"/>
			<xsd:element name="TNS" type="ssbt:Transportstyrelsen"/>
			<xsd:element name="MIV" type="ssbt:Migrationsverket"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SammansattBastjanstFraga">
		<xsd:sequence>
			<xsd:element name="generellaFrageparametrar" type="ssbt:GenerellaFrageparametrar">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Generella frågeparametrar som gäller för alla Bastjänster.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specifikaFrageparametrar" type="ssbt:SpecifikaFrageparametrar">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Specifika frågeparametrar för respektive Bastjänst. Attributet inkludera används till att specificera vilka bastjänster frågeställaren önskar data från. Om attributet inkludera = true skall underliggande element skickas. Om inkludera = false skickas ej underliggande element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Denna ska användas när frågan returneras i svaret, då kommer inte messageheaderna med. Denna läggas på i SHS och hör alltså inte till originalfrågan som anropande kommun har skickat -->
	<xsd:complexType name="SammansattBastjanstFragaOriginal">
		<xsd:sequence>
			<xsd:element name="generellaFrageparametrar" type="ssbt:GenerellaFrageparametrar">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Generella frågeparametrar som gäller för alla Bastjänster.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specifikaFrageparametrar" type="ssbt:SpecifikaFrageparametrar">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Specifika frågeparametrar för respektive Bastjänst. Attributet inkludera används till att specificera vilka bastjänster frågeställaren önskar data från. Om attributet inkludera = true skall underliggande element skickas. Om inkludera = false skickas ej underliggande element</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<!--  ***********   SVAR   *********** -->
	<xsd:complexType name="CsnSvarsData">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Data CSN levererar</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="svar" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Error">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Generell felhantering för fel som uppstår i hanteringen av Bastjänster.</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="kalla" type="ssbt:KallaEnum">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Källa anger var felkoden härstammar från och kan t.ex. vara att felkoden härstammar från SSBT om timeout uppstått vid anrop mot en Bastjänst</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="felkod" type="xsd:string"/>
			<xsd:element name="felmeddelande" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ForsakringskassanSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="ssbt:FkSvarsData">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data ifrån Lefi. Svaret är i jsonformat och encodat till base64. Se schema för Lefi för mer info</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FkSvarsData">
		<xsd:sequence>
		     <xsd:annotation>
					<xsd:documentation xml:lang="sv">Data ifrån Lefi. Svaret är i jsonformat och encodat till base64. Se api ifrån Lefi för mer info</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="lefiJsonSvar" type="xsd:base64Binary"/>
		</xsd:sequence>
	</xsd:complexType>
	

	<xsd:complexType name="CsnSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="ssbt:CsnSvarsData">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data som CSN levererar</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SkatteverketSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="skv:BeskattningsuppgifterResponseTYPE">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data som Skatteverket levererar</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ArbetsformedlingenSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="af:SvarMeddelande">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data som Arbetsförmedlingen levererar</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AkassornasSamorganisationSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="so:GetUnemploymentBenefitPaymentResponseType">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data som Akassorna levererar</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransportstyrelsenSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="tns:HamtaUppgifterResponseType">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data som Transportstyrelsen levererar</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MigrationsverketSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Om bastjänsten levererat ett svar, skickas data-elementet, om ett fel har uppstått skickas error</xsd:documentation>
			</xsd:annotation>
			<xsd:choice>
				<xsd:element name="data" type="miv:findByPersonnummerResponse">
					<xsd:annotation>
						<xsd:documentation xml:lang="sv">Data som Migrationsverket levererar</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="error" type="ssbt:Error"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SammansattBastjanstSvarData">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Antalet svar nedan beror på vilka Bastjänster förfrågaren begärt svar från i sin fråga.</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="AF" type="ssbt:ArbetsformedlingenSvar" minOccurs="0"/>
			<xsd:element name="CSN" type="ssbt:CsnSvar" minOccurs="0"/>
			<xsd:element name="FK" type="ssbt:ForsakringskassanSvar" minOccurs="0"/>
			<xsd:element name="SKV" type="ssbt:SkatteverketSvar" minOccurs="0"/>
			<xsd:element name="SO" type="ssbt:AkassornasSamorganisationSvar" minOccurs="0"/>
			<xsd:element name="TNS" type="ssbt:TransportstyrelsenSvar" minOccurs="0"/>
			<xsd:element name="MIV" type="ssbt:MigrationsverketSvar" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SammansattBastjanstSvar">
		<xsd:sequence>
			<xsd:element name="fraga" type="ssbt:SammansattBastjanstFragaOriginal" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Om elementet fraganSkallInkluderasISvaret i frågan är satt till True, så skickas frågeinnhållet tillbaka i svaret</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="frageTidpunkt" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Om frågeställaren angivet frageTidpunkt i frågan, så returneras den här</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="korrelationsid" type="xsd:string" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Om frågeställaren angivet korrelationsid i frågan, så returneras den här</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="svarsdata" type="ssbt:SammansattBastjanstSvarData"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--  ***********   FEL   *********** -->
	<xsd:complexType name="BastjanstInformationFault">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Fault som uppstår i SSBT</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="felkod" type="xsd:string"/>
			<xsd:element name="felmeddelande" type="xsd:string" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="SammansattBastjanstTestFraga">
		<xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
   
	<xsd:complexType name="SammansattBastjanstTestSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Antalet svar nedan beror på vilka Bastjänster förfrågaren begärt svar från i sin fråga.</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="AF" type="ssbt:TestSvar" minOccurs="0"/>
			<xsd:element name="CSN" type="ssbt:TestSvar" minOccurs="0"/>
			<xsd:element name="FK" type="ssbt:TestSvar" minOccurs="0"/>
			<xsd:element name="SKV" type="ssbt:TestSvar" minOccurs="0"/>
			<xsd:element name="SO" type="ssbt:TestSvar" minOccurs="0"/>
			<xsd:element name="TNS" type="ssbt:TestSvar" minOccurs="0"/>
			<xsd:element name="MIV" type="ssbt:TestSvar" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TestSvar">
		<xsd:sequence>
			<xsd:annotation>
				<xsd:documentation xml:lang="sv">Anger om en backendtjänst har en egen test-tjänst som har anropats eller inte.</xsd:documentation>
			</xsd:annotation>
			<xsd:element name="anropad" type="xsd:boolean">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Anger om ett backendsystem har en egen test-tjänst som har anropats eller inte.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			<xsd:element name="error" type="ssbt:Error" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation xml:lang="sv">Om en test-tjänst har anropats och något gått fel finns information om felet här.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
		</xsd:sequence>
	</xsd:complexType>

   <!--  ***********   Globala FRÅGA/SVAR/FEL Element   *********** -->
	<xsd:element name="hamtaBastjanstInformation" type="ssbt:SammansattBastjanstFraga"/>
	<xsd:element name="hamtaBastjanstInformationResponse" type="ssbt:SammansattBastjanstSvar"/>
	<xsd:element name="hamtaBastjanstInformationFault" type="ssbt:BastjanstInformationFault"/>

	<xsd:element name="testaBastjanstInformation" type="ssbt:SammansattBastjanstTestFraga"/>
	<xsd:element name="testaBastjanstInformationResponse" type="ssbt:SammansattBastjanstTestSvar"/>
	<xsd:element name="testaBastjanstInformationFault" type="ssbt:BastjanstInformationFault"/>
</xsd:schema>
